<div class="repository-detail">
  <ul>
    <li>Repository Name: {{name}}</li>
    <li>Description: {{description}}</li>
    <li>Main Language: {{language}}</li>
    <li><i class="fa fa-database">&nbsp;</i>Size: {{size}} bits</li>
    {{#if homepage}}
    <li><i class="fa fa-code-fork">&nbsp;</i>Forked from: {{homepage}}</li>
    {{/if}}
  </ul>
</div>