<div class="repository-detail">
  <ul>
    <li>Repository Name: {{name}}</li>
    <li>Description: {{description}}</li>
    <li>Main Language: {{language}}</li>
    <li>Size: {{size}} bits</li>
    <li>Forked from: {{homepage}}</li>
  </ul>
</div>