<h3 class="statistics-header">
  Statistics
</h3>
<div class="stats">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th><i class="fa fa-yelp"></i>Developer Name</th>
      </tr>
      {{#each developer in model}}
        <tr>
          <td>
          {{#link-to 'statistic' developer.login}}
            {{#if developer.name}}
              {{developer.name}}
            {{else}}
              {{developer.login}} (Github Username)
            {{/if}}
          {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<form class="developer-search-section">
  <label for="login">Search Developer:</label>
  {{input type="text" value=login placeholder="Search a Githuber"}}
  <button class="search-user" type="submit" {{action "getUserLogin"}}>Button</button>
</form>
{{!-- <div>
<p>{{githuber.login}}</p>
<p>{{githuber.name}}</p>
<p>{{githuber.location}}</p>
<p>{{githuber.url}}</p>
</div> --}}