<h4>Statistic</h4>
<div class="stat">
  <aside class="general-info">
    <img class="avatar" {{bind-attr src=avatar_url}} alt="profile picture">
        <button class="btn btn-primary back-navigate" {{action backToIndex}}>Back</button>
  </aside>
  <ul class="user-stat">
      <li>Name: {{name}}</li>
      <li>Location: {{location}}</li>
      <li>Repos: {{public_repos}}</li>
      <li>User since: {{created_at}}</li>
      <li>Last commit: {{updated_at}}</li>
    </ul>

  <div class="detail-info">
   {{#link-to 'repositories'}}Repositories{{/link-to}}
   {{#link-to 'stars'}}Stars{{/link-to}}
   {{#link-to 'gists'}}Gists{{/link-to}}
   {{#link-to 'friends'}}Friends{{/link-to}}
  </div>
</div>
<section class="info-section">
  <hr>
  <h4>Detail Statistic</h4>
  {{outlet}}
</section>