<div class="stat">
  <h4>Statistic</h4>
  <ul>
    <li>{{name}}</li>
    <li>{{location}}</li>
    <li>{{public_repos}}</li>
    <li>{{created_at}}</li>
    <li>{{updated_at}}</li>
  </ul>
  <button class="btn btn-primary" {{action }}>Back</button>
</div>